
    <h3>Estadísticas</h3> <br>
     <br>
   El número de preguntas:   <%= estadisticas.numPreguntas %>  <br>
   El número de comentarios totales:  <%= estadisticas.numComentarios %>  <br>
   El número medio de comentarios por pregunta: <%= estadisticas.comentariosMedios %>  <br>
   El número de preguntas sin comentarios: <%= estadisticas.sinComentarios %>  <br>
   El número de preguntas con comentarios: <%= estadisticas.conComentarios %>  <br>
